/rotten_tomatoes_critic_reviews.csv
/rotten_tomatoes_movies.csv
/normalized_data.csv
/rotten_sample.csv
/fresh_sample.csv
/normalized_movie.csv
/sampled_data_for_score_finding.csv
/fresh_sample_embedding.csv
/rotten_sample_embedding.csv
/sampled_data_with_IMDB_Score.csv
/review_per_movie_dist.pkl
